.posicaoBotao{
    position: relative;
    right: 120px;
}

.button {
    margin-top: 5px;
    background-color: #008CBA;
    padding: 1px;
    border: #008CBA solid 1px;
    font-size: 17px;
    width: 25px;
}