.posicaoBotao{
    position: absolute;
    left: 82%;
}

.button {
    margin-top: 5px;
    background-color: #008CBA;
    padding: 1px;
    border: #008CBA solid 1px;
    font-size: 17px;
    width: 25px;
}